<p [ngStyle]="{color: 'tomato', fontWeight: 'bolder'}">Lista basica de elementos</p>
<!-- ngStyle es una directiva de angular al igual que ngModel o ngClass-->
<p ngClass="underlined">Aqui vamos a iterar una lista de varios elementos</p>
<!-- este underlined llama a uan clase de SASS-->

<p [ngClass]="['underlined', 'small']">Aun no tienes elementos en la lista</p>

<!-- entre corchetes es cuando trae una variable ya definida-->
<p [ngClass]="{underlined : false, small: true  }">Te recomendamos crear un elemento</p>
<!-- Aqui arriba se puede establecer que parametro se aplica y cual no, pro ejemplo-->


<!-- Bloque de directivas estructurales-->

<button (click)="changeCharging()">{{charging? 'Terminar carga': 'Iniciar carga'}}</button>

<ng-container *ngIf="!charging; else waitingTemplate">
    <p>Todo Listo</p>
</ng-container>

<ng-template #waitingTemplate>
    <p>Cargando...</p>
    <p>Espere a que termine el proceso</p>
</ng-template>

<!-- Bloque para explicar el uso de NGFOR-->
<!-- Iteramos la lista de producto-->
<div *ngFor="let producto of elementsList; let i = index; let even = even">
    <div [ngStyle]="even?{backgroundColor: 'blue', color: 'white'}:{backgroundColor: 'green', color: 'white'}"class="producto">    
        <!--Ambito de for donde tenemos acceso a "producto" (elemento de la lista)-->
        <p>ID: {{ i + 1 }}</p>
        <p>{{producto.name}}- {{producto.price}}$</p>
        <p>{{producto.description}}</p>
    </div>
</div>


<!--Bloque para entender ngSwitch-->
<div [ngSwitch]="option">
    <p [id] = "1" *ngSwitchCase="1"> Ha seleccionado Opcion 1</p>
    <p [id] = "2" *ngSwitchCase="2"> Ha seleccionado Opcion 2</p>
    <p [id] = "3" *ngSwitchCase="3"> Ha seleccionado Opcion 3</p>
    <p *ngSwitchDefault class="close"></p>
</div>

<!-- Seleccion de opcion para el user-->
<div>
    <input type="radio" name="option" (click)="selectOption(1)"/> Opcion 1
    <input type="radio" name="option" (click)="selectOption(2)"/> Opcion 2
    <input type="radio" name="option" (click)="selectOption(3)"/> Opcion 3
    <input type="radio" selected="selected" name="option" (click)="selectOption(0)"/> Ocultar
</div>


<!--Podemos concatenar directivas-->
<p>Productos de mas de 25$</p>
<div *ngFor="let producto of elementsList; let i = index; let even = even">
    <div *ngIf="producto.price>25" [ngStyle]="even?{backgroundColor: 'blue', color: 'white'}:{backgroundColor: 'green', color: 'white'}"class="producto">    
        <!--Ambito de for donde tenemos acceso a "producto" (elemento de la lista)-->
        <p>ID: {{ i + 1 }}</p>
        <p>{{producto.name}}- {{producto.price}}$</p>
        <p>{{producto.description}}</p>
    </div>
</div>